<!DOCTYPE html>
<html land="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title><%- name %></title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <% if (googleFonts.length > 0) { %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=<%- googleFonts.join('|') %>">
  <% } %>
  <body>
    <%- include('./includes/home.ejs') -%>
    <%- include('./includes/features.ejs') -%>
    <%- include('./includes/footer.ejs') -%>

    <script src="./script.js"></script>
  </body>
</html>
